.pokemon-ability {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  align-items: center;
  text-align: center;
}
.pokemon-ability span {
  text-transform: capitalize;
  position: relative;
}

.ability-link {
  background-color: #474077;
  border-radius: 8px;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  outline: 3px solid #221b39;
}

.ability-link .link-icon {
  width: 13px;
  margin-left: 5px;
  filter: invert(1);
}
