.pokemons {
  display: grid;
  gap: 20px;
  padding-block: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
}

.single-pokemon {
  max-width: 250px;
  padding-block: 20px;
}
