.move-data {
  display: flex;
  background-color: #332e59;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
  position: relative;
}
.move-data h4 {
  text-transform: capitalize;
  margin-top: 15px;
  margin-bottom: 5px;
}
.move-data .move-type {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.category {
  text-align: center;
}

.move-stats {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.move-category {
  text-align: center;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.move-category span {
  padding-block: 5px;
  width: 100%;
  text-transform: capitalize;
  background-color: #1f1837;
  border-radius: 8px;
}
.move-stat {
  text-align: center;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.move-stat span {
  padding-block: 5px;
  width: 100%;
  background-color: #1f1837;
  border-radius: 8px;
}

.move-meta {
  flex-wrap: wrap;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.move-meta > div {
  text-align: center;
  width: 45%;
  display: flex;

  flex-direction: column;
  align-items: center;
}

.move-meta span {
  padding-block: 5px;
  width: 100%;
  background-color: #1f1837;
  border-radius: 8px;
}

.status-effects {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.status-effects > div {
  text-align: center;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.status-effects span {
  width: 100%;
  background-color: #1f1837;
  border-radius: 8px;
  text-transform: capitalize;
  padding-block: 5px;
}

.target {
  text-align: center;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.target span {
  width: 100%;
  background-color: #1f1837;
  border-radius: 8px;
  text-transform: capitalize;
  padding-block: 5px;
}

.mobile-move-data {
  display: none;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .move-data {
    justify-content: flex-start;
  }
  .mobile-move-data {
    display: flex;
  }
}
