.order {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
}

.order select {
  height: 50px;
  border-radius: 8px;
  border: none;
  box-shadow: 0px 0px 1px 0px rgb(0 0 0 / 20%);
  padding-inline: 10px;
}

.order-type option {
  text-transform: capitalize;
  height: 30px;
}

#order .option__control {
  height: 50px;
  border-radius: 8px;
  width: 150px;
}

#order .option__option {
  cursor: pointer;
  color: black;
}

#order .option__option--is-selected {
  background-color: #e60012;
  color: white;
}

#order .option__control--is-focused {
  border-color: #e60012;
  border-width: 1px;
  box-shadow: none;
}

.order-id input {
  height: 50px;
  width: 70px;
  border-radius: 8px;
  border: none;
  outline: none;
  border: 1px solid hsl(0, 0%, 80%);
  text-align: center;
}

.order-id {
  display: flex;
  align-items: center;
  gap: 20px;
}

.clear button {
  height: 50px;
  width: 70px;
  background-color: white;
  border: 2px solid #e60012;
  border-radius: 8px;
  color: #e60012;
  font-weight: bold;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .order {
    justify-content: center;
  }
}
