.order {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
}

.order select {
  height: 50px;
  border-radius: 8px;
  border: none;
  box-shadow: 0px 0px 1px 0px rgb(0 0 0 / 20%);
  padding-inline: 10px;
  background-color: #332e59;
}

#order .option__control {
  height: 50px;
  border-radius: 8px;
  width: 150px;
  background-color: #332e59;
}

#order .option__option {
  cursor: pointer;
  color: lightgray;
  background-color: #332e59;
  text-transform: capitalize;
}

#order .option__option--is-selected {
  background-color: #1f1837;
  color: white;
}

#order .option__control--is-focused {
  border-color: #1f1837;
  border-width: 1px;
  box-shadow: none;
}

#order .option__input-container {
  color: lightgray;
  text-transform: capitalize;
}

#order .option__single-value {
  color: lightgray;
  text-transform: capitalize;
}

#order .option__menu-list {
  padding-block: 0;
}

#order .option__placeholder {
  color: lightgray;
}

.order-id input {
  height: 50px;
  width: 70px;
  border-radius: 8px;
  background-color: #332e59;
  border: none;
  color: lightgray;
  outline: none;
  border: 2px solid lightgray;
  text-align: center;
}

.order-id {
  display: flex;
  align-items: center;
  gap: 20px;
}

.clear button {
  height: 50px;
  width: 70px;
  background-color: #332e59;
  border: 2px solid lightgray;
  border-radius: 8px;
  color: lightgray;
  font-weight: bold;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .order {
    justify-content: center;
  }
}
